@model IEnumerable<sitevascoutinho.Models.Classes.Noticia>

@{

	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<div class="borda">
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width:20%">
					#@Html.DisplayNameFor(model => model.Titulo)
				</th>
				<th style="width:60%">
					#@Html.DisplayNameFor(model => model.Corpo)
				</th>
				<th style="width:5%">
					#@Html.DisplayNameFor(model => model.Descricao)
				</th>

				<th style="width:5%">
					#Opções
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var not in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelNot => not.Titulo)
					</td>
					<td>
						@Html.Raw(not.Corpo)
					</td>
					<td>
						<div class="description">
							<img src="@Html.DisplayFor(modelNot => not.Descricao)" />
						</div>
					</td>
					<td>
						<a asp-action="Edit" class="button-edit" asp-route-id="@not.Id"><i class="fa fa-edit"></i></a>
						<a asp-action="Details" class="button-details" asp-route-id="@not.Id"><i class="fa fa-align-left"></i></a>
						<a asp-action="Delete" class="button-delete" asp-route-id="@not.Id"><i class="fa fa-trash-o"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>